<%- include header %>
<form method="post" action="/edit/<%= post.name %>/<%= post.time.day %>/<%= post.title %>">
 <div>
  <p><label>标题:</label></p>
    <input type="text" name="title"  value="<%= post.title %>" disabled="disabled">
 </div>
  <div>
    <p><label>标签:</label></p>
    <input type="text" name="tag1" value="<%= post.tags[0] %>" disabled="disabled">
    <input type="text" name="tag2" value="<%= post.tags[1] %>" disabled="disabled">
    <input type="text" name="tag3" value="<%= post.tags[2] %>" disabled="disabled">
  </div>
  <div>
    <p><label>正文:</label></p>
    <textarea  name="post"><%= post.post %></textarea>
  </div>
  <div>
    <input type="submit" value="保存修改" class="btn">
  </div>      
</form>
<%- include footer %>
